
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Mirko Mirjanic</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/profilepic.jpg' %}" >
					<hr>
					<h4>Hi I'm Mirko!</h4>
					<p>I am new to coding world and would like to learn backend programming!</p>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>Search for intern program.</h4>
					<hr>
					<p>I am searching for opportunity to gain work experience with Python's Django famework.
					Love for programming arose recently and after six months of investigating which language to chose I have decided Python.
					Firstly I started by reading several books and typing simple python codes.
					After several months of doing that I have decided to try Django.</p>
					<p>Now I am trying to create few simple Django projects to use them as a stepping stone in landing my first programming job.</p>



					<ul class="social-links">

						<li><img class="social" src="{% static 'images/linkedin.png' %}"></li>

					</ul>

				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Experience in IT</h5>
					<hr>
					<p>Help desk tech.</p>
					<p>My IT journey started in March 2018. by applying and getting the opportunity to prove myself.</p>
					<p>First year was difficult but my willingness to improve was strong and I have stayed for two more years before changing companies.</p>
					</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>What I Know</h5>
					<hr>
					<p>Process of learning new skill is always difficult and interesting. First job was a fist interaction with Aloha POS.
					Looking back on how stressful and challenging it was at the beginning provides me with insight on future endeavors.</p>
					<p>PS: Learning new things is always interesting.</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>How I Learn Python/Django</h5>
					<hr>
					<p>Mainly by reading book and watching video lessons.</p>

					<p>After getting through chapter of the book or section of the video I try to see how that part of the code works by typing it and trying to change it to see what will happen..</p>
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>My Short Term Goals</h5>
				<hr>
				<p>Firstly i would like to get the opportunity for an intern position to learn and improve myself.</p>
				<p></p>
				</div>
			</div>
		</div>
		<br>
	</div>


</body>
</html>